.add-recipe-button {
  color: white;
  background-color: green;
  font-size: 12px;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.input-form-styling {
  border-radius: 8px;
}

.textarea-form-styling {
  border-radius: 12px;
}

.add-recipe-form {
  border-radius: 20px;
  margin: 50px;
}

.add-recipe-list {
  margin: 50px;
}

@media all and (min-width: 800px) {
  .add-recipe-list {
    margin: 80px;
  }
}
