ul{
    list-style-type: none;
}

li{
    border: 2px solid none;
    border-radius: 20px;
    background-color: #ffc6cf;
    /* background-color: #f7d6e0; */
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.delete-button{
    color: white;
  background-color: red;
  font-size: 15px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  float:inline-end;
}