ul {
  list-style-type: none;
}

li {
  border: 2px solid none;
  border-radius: 20px;
  background-color: #ffc6cf;
  margin: 10px;
  padding: 10px;
  text-align: center;
  overflow-x: hidden;
}

.delete-button {
  color: white;
  background-color: #1f59e0;
  font-size: 18px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  /* float: inline-end; */
}

.add-recipe-link-button {
  color: white;
  background-color: #1f59e0;
  font-size: 18px;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}
/* Images */
.dashboard-img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
  border-radius: 20px;
}

/* Groups and items */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

@media all and (min-width: 800px) {
  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .dashboard-img {
    max-height: 300px;
  }
}
