.header-styling {
  font-family: 'Baskervville', serif;
}

nav,
.username-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  border: 2px solid none;
  border-radius: 20px;
  background-color: #bde0fe;
  padding: 15px;
  margin: 25px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  margin: 25px;
  padding: 25px;
  background-color: #fbc4ab;
  border-radius: 20px;
}


/* Desktop Styling */
@media all and (min-width: 800px) {
  h1,nav,
  .username-style {
    
    margin-left: 80px;
    margin-right: 80px;
  }
}