body {
  /* Off white background color */
  background-color: #f8f9fa;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

.page-container {
  position: relative;
  min-height: 100%;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

h2 {
  font-family: 'Baskervville', serif;
}
